
<a href="<%= href %>" type="button" class="flex items-center justify-center w-full h-10 px-6 py-2.5 text-sm font-semibold text-white transition-all rounded-sm bg-sky-500 hover:bg-sky-400 md:w-auto transition">
    <%= text %>
</a>
